<div class="row">
    <div class="text-center well col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <form name="specialistsForm" class="form-vertical">
            <select name="specialistSelect" ng-model="specialistId" required class="form-control">
                <option value="" disabled selected>What doctor do you need ?</option>
                <option ng-repeat="specialization in spacializations" value="{{specialization.id}}">
                    {{specialization.name}}
                </option>
            </select><br>
            <input type="button" class="btn btn-primary btn-block" value="Find me a doctor"
                   ng-click="requestConsultation(specialistId)" ng-disabled="!specialistsForm.$valid">
        </form>
    </div>
</div>
<div >

    <!--<div id="publisher"></div>-->
    <!--<input type="button" ng-click="startPublish()" value="Publish">-->
</div>




